header{
    background-color: rgb(93, 93, 207);
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

body{
    margin: 0px;
}

a{
    color: white;
}

.header-right{
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10rem;
}
.header-left{
    /* background-color: blue; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}

img{
    margin-left: 15px;
}

.settings-dropdown{
    border-width: 0px;
}